body {
    font-size: 15pt;
}
@media (max-width: 768px) {
    body {
        font-size: 12pt;
    }
}
/* header start */

#header {
    width: 100%;
    background: #202123 url("../images/bg.jpg") bottom center;
    background-repeat: no-repeat;
}
#logo {
    margin: 1.5em 0;
    width: 100%;
    text-align: center;
}
#logo h1 {
    color: #fff;
    font-size: 1.8em;
}
#logo img {
    max-height: 1.8em;
    margin-right: 10px;
    width: auto;
}
#video-iframe {
    width: 100%;
    margin: 0;
}
#video-iframe-wrapper {
    text-align: center;
    max-height: 43%;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}
#video-iframe-wrapper:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}
#video-iframe-wrapper iframe {
  width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#email-form {
    margin: 1em 0;
}
#email-form input {
    padding: 0 2em;
    background: rgba(255, 255, 255, 0.8);
}
#email-form input,
#email-form button {
    height: 4em;
    font-size: 1em;
    width: 100%;
    margin: 0.2em 0;
}
/* header stop */
